<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterrtestApp.sessionInscription.home.title">Session Inscriptions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-session-inscription-my-suffix" [routerLink]="['/session-inscription-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterrtestApp.sessionInscription.home.createLabel">
            Create new Session Inscription
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sessionInscriptions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span jhiTranslate="jhipsterrtestApp.sessionInscription.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span jhiTranslate="jhipsterrtestApp.sessionInscription.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="annee"><span jhiTranslate="jhipsterrtestApp.sessionInscription.annee">Annee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="theseId"><span jhiTranslate="jhipsterrtestApp.sessionInscription.these">These</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="etablissementId"><span jhiTranslate="jhipsterrtestApp.sessionInscription.etablissement">Etablissement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statusSessionId"><span jhiTranslate="jhipsterrtestApp.sessionInscription.statusSession">Status Session</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sessionInscription of sessionInscriptions ;trackBy: trackId">
                <td><a [routerLink]="['/session-inscription-my-suffix', sessionInscription.id, 'view' ]">{{sessionInscription.id}}</a></td>
                <td>{{sessionInscription.startDate | date:'medium'}}</td>
                <td>{{sessionInscription.endDate | date:'medium'}}</td>
                <td jhiTranslate="{{'jhipsterrtestApp.Annee.' + sessionInscription.annee}}">{{sessionInscription.annee}}</td>
                <td>
                    <div *ngIf="sessionInscription.theseId">
                        <a [routerLink]="['../these-my-suffix', sessionInscription.theseId , 'view' ]" >{{sessionInscription.theseId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sessionInscription.etablissementId">
                        <a [routerLink]="['../etablissement-my-suffix', sessionInscription.etablissementId , 'view' ]" >{{sessionInscription.etablissementId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sessionInscription.statusSessionId">
                        <a [routerLink]="['../status-session-my-suffix', sessionInscription.statusSessionId , 'view' ]" >{{sessionInscription.statusSessionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/session-inscription-my-suffix', sessionInscription.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/session-inscription-my-suffix', sessionInscription.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'session-inscription-my-suffix', { outlets: { popup: sessionInscription.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sessionInscriptions && sessionInscriptions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
