<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterrtestApp.eligibility.home.title">Eligibilities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-eligibility-my-suffix" [routerLink]="['/eligibility-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterrtestApp.eligibility.home.createLabel">
            Create new Eligibility
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="eligibilities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="criteria"><span jhiTranslate="jhipsterrtestApp.eligibility.criteria">Criteria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="score"><span jhiTranslate="jhipsterrtestApp.eligibility.score">Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="etablissementId"><span jhiTranslate="jhipsterrtestApp.eligibility.etablissement">Etablissement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="theseId"><span jhiTranslate="jhipsterrtestApp.eligibility.these">These</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let eligibility of eligibilities ;trackBy: trackId">
                <td><a [routerLink]="['/eligibility-my-suffix', eligibility.id, 'view' ]">{{eligibility.id}}</a></td>
                <td>{{eligibility.criteria}}</td>
                <td>{{eligibility.score}}</td>
                <td>
                    <div *ngIf="eligibility.etablissementId">
                        <a [routerLink]="['../etablissement-my-suffix', eligibility.etablissementId , 'view' ]" >{{eligibility.etablissementId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="eligibility.theseId">
                        <a [routerLink]="['../these-my-suffix', eligibility.theseId , 'view' ]" >{{eligibility.theseId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/eligibility-my-suffix', eligibility.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/eligibility-my-suffix', eligibility.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'eligibility-my-suffix', { outlets: { popup: eligibility.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="eligibilities && eligibilities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
