<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-password-reset-token-my-suffix-heading" jhiTranslate="jhipsterrtestApp.passwordResetToken.home.createOrEditLabel">Create or edit a Password Reset Token</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!passwordResetToken.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="passwordResetToken.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterrtestApp.passwordResetToken.token" for="field_token">Token</label>
                    <input type="text" class="form-control" name="token" id="field_token"
                        [(ngModel)]="passwordResetToken.token" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterrtestApp.passwordResetToken.expiryDate" for="field_expiryDate">Expiry Date</label>
                    <div class="d-flex">
                        <input id="field_expiryDate" type="datetime-local" class="form-control" name="expiryDate" [(ngModel)]="expiryDate" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
