<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="passwordResetToken">
            <h2><span jhiTranslate="jhipsterrtestApp.passwordResetToken.detail.title">Password Reset Token</span> {{passwordResetToken.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterrtestApp.passwordResetToken.token">Token</span></dt>
                <dd>
                    <span>{{passwordResetToken.token}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterrtestApp.passwordResetToken.expiryDate">Expiry Date</span></dt>
                <dd>
                    <span>{{passwordResetToken.expiryDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/password-reset-token-my-suffix', passwordResetToken.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
