<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lastTheses">
            <h2><span jhiTranslate="jhipsterrtestApp.lastTheses.detail.title">Last Theses</span> {{lastTheses.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterrtestApp.lastTheses.anneeUniversitaire">Annee Universitaire</span></dt>
                <dd>
                    <span>{{lastTheses.anneeUniversitaire}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterrtestApp.lastTheses.etablissement">Etablissement</span></dt>
                <dd>
                    <span>{{lastTheses.etablissement}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterrtestApp.lastTheses.sujetThese">Sujet These</span></dt>
                <dd>
                    <span>{{lastTheses.sujetThese}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterrtestApp.lastTheses.doctorant">Doctorant</span></dt>
                <dd>
                    <div *ngIf="lastTheses.doctorantId">
                        <a [routerLink]="['/doctorant-my-suffix', lastTheses.doctorantId, 'view']">{{lastTheses.doctorantId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/last-theses-my-suffix', lastTheses.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
